/* .sidebar {
  background-color: var(--theme-blue);
  color: var(--white);
}
.sidebar a {
  text-decoration: none;
  padding: 10px;
  color: var(--white);
}
.menuList {
  list-style: none;
  position: relative;
}
.menuList::after {
  content: "";
  width: 2px;
  display: block;
  height: 100%;
  background-color: white;
  position: absolute;
  top: 28px;
  left: 44px;
  margin-bottom: 10px;
}
.menu {
  color: white !important;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.menuTitle {
  cursor: pointer;
  color: var(--white);
}
.menuItems {
  display: none;
  list-style: none;
}
.menuTitleActive {
  display: block;
  list-style: none;
} */

.sidebar {
  width: 100%;
  height: inherit;
  background-color: #63c2c7;
  padding: 10px;
  color: #fff;
  font-family: Arial, sans-serif;
}

.searchBox {
  margin-bottom: 20px;
}

.searchInput {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: none;
  outline: none;
  background-color: white;
  color: black;
}
.searchInput::placeholder {
  color: grey;
}

.menu {
  margin-bottom: 10px;
}

.menuHeader {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  /* background-color: #48a4b3; */
  border-radius: 4px;
  transition: background-color 0.3s;
}

/* .menuHeader:hover {
  background-color: #3c8d9c;
} */

.icon {
  margin-right: 10px;
}

.title {
  font-weight: bold;
}

.subMenu {
  margin-top: 10px;
  margin-left: 20px;
  list-style: none;
  /* padding: 0; */
  /* height: auto; */
  border-left: 0.5px solid white;
  /* transition: all 1s ease; */
}

.subMenuItem {
  position: relative;
  margin-bottom: 5px;
  margin-top: 10px;
  line-height: 0.5;
  padding-top: 10px;
}
.subMenuItem::before {
  content: "";
  position: absolute;
  left: -28px;
  bottom: 0;
  width: 15px;
  height: 0.5px;
  background-color: #fff;
  font-size: 12px;
  line-height: 1.5;
}
.subMenuItem::after {
  content: "•";
  position: absolute;
  left: -36.5px;
  bottom: -29.5px;
  /* width: 15px; */
  /* height: 0.5px; */
  color: #fff;
  font-size: 20px;
  opacity: 0;
  line-height: 1.5;
}

.active {
  color: #fff;
  font-weight: bold;
}

.active::after {
  opacity: 1;
  transform: translateY(-50%) translateX(5px);
}

.link {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
  position: relative;
  bottom: 0;
}

.link:hover {
  color: #cce7ea;
}
