.table {
  width: 100%;
  overflow-x: auto;
  border-radius: 10px;
  user-select: none;
  font-size: 12px !important;
}

.table th,
.table td {
  border: 1px solid #cccccc;
  padding: 10px 10px;
  text-align: center;
  width: max-content;
  border: none;
}
.table tr:nth-child(even) {
  background-color: #f2f2f2; /* Even rows ka background color */
}

.table thead tr {
  background-color: #63c2c7;
  color: #ffff;
}

.topbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topbar button{
  background-color: #63c2c7;
  color: #ffff;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 700;
  width: max-content;
  border-radius: 5px;
}

.search {
  width: 100%;
  /* padding: 10px; */
  display: flex;
  align-items: center;
  gap: 4px;
}

.actions {
  display: flex;
  justify-content: center;
  gap: 10px;
}
/* .input {
    background-color: white;
    color: #000;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #cccccc;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .input:focus {
    outline: none;
    border-bottom: 2px solid #63c2c7;
    
  } */

.input {
  background-color: white;
  color: #000;
  padding: 10px;
  border: 2px solid #cccccc;
  min-width: 200px;
  /* width: 100%; */
  margin-bottom: 10px;
  border-radius: 5px;
}

.input:focus {
  outline: none;
  border: 2px solid #63c2c7;
  box-shadow: 0 0 2px #63c2c7;
  transition: all 0.3s ease;
}

.select {
  background-color: white;
  color: #000;
  padding: 10px;
  border: 2px solid #cccccc;
  /* min-width: 200px; */
  /* width: 100%; */
  /* margin-bottom: 10px; */
  border-radius: 5px;
}

.select:focus {
  outline: none;
  border: 2px solid #63c2c7;
  box-shadow: 0 0 2px #63c2c7;
  transition: all 0.3s ease;
}

/* .input option {
  color: pink !important;
  background-color: #63c2c7 !important;
} */

/* Checkbox Container */
.checkboxContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hidden default checkbox */
.checkboxContainer input[type="checkbox"] {
  appearance: none;
  width: 15px;
  height: 15px;
  border: 2px solid #ccc;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  background-color: white;
  transition: all 0.3s ease;
}

/* Checkbox Checked State */
.checkboxContainer input[type="checkbox"]:checked {
  /* background-color: #63c2c7; */
  border-color: #63c2c7;
  background-image: url("../assets/images/check-mark.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Hover Effect */
.checkboxContainer input[type="checkbox"]:hover {
  border-color: #888;
}

/* Focus State */
.checkboxContainer input[type="checkbox"]:focus {
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

.pagination {
  margin-top: 10px;
  display: flex;
  justify-content: end;
}

.pagination button {
  /* background-color: #63c2c7; */
  border: 2px solid transparent !important;
  color: #63c2c7;
  /* color: white; */
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  margin-right: 5px;
  transition: all 0.5s ease;
}

.pagination button:hover {
  border: 2px solid #63c2c7 !important;
}

.pageNumber {
  user-select: none;
  margin: 0 10px;
}
